@model Restaurant_Core.Models.RolModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Actualizacion de datos</h1>

<h4>Rol</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idRol" class="control-label"></label>
                <input asp-for="idRol" class="form-control" readonly/>
                <span asp-validation-for="idRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nomRol" class="control-label"></label>
                <input asp-for="nomRol" class="form-control" />
                <span asp-validation-for="nomRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="ListadoRoles" asp-controller="Rol" class="btn btn-primary">Retornar</a>
            </div>
        </form>
    </div>
</div>

<div>@ViewBag.mensaje</div>
