@model Restaurant_Core.Models.ProductoModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Actualizacion de datos</h1>

<h4>Productos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_producto" class="control-label"></label>
                <input asp-for="id_producto" class="form-control" readonly/>
                <span asp-validation-for="id_producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nom_producto" class="control-label"></label>
                <input asp-for="nom_producto" class="form-control" />
                <span asp-validation-for="nom_producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ruta_imagen" class="control-label"></label>
                <input asp-for="ruta_imagen" class="form-control" />
                <span asp-validation-for="ruta_imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre_imagen" class="control-label"></label>
                <input asp-for="nombre_imagen" class="form-control" />
                <span asp-validation-for="nombre_imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_categoria" class="control-label"></label>
                @*<input asp-for="id_categoria" class="form-control" />*@
                <select asp-for="id_categoria" asp-items="@ViewBag.categorias" class="form-control"></select>
                <span asp-validation-for="id_categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stock" class="control-label"></label>
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="activo" /> @Html.DisplayNameFor(model => model.activo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="ListadoProductos" asp-controller="Producto" class="btn btn-primary">Retornar</a>
            </div>
        </form>
    </div>
</div>

<div>@ViewBag.mensaje</div>
